[target.aarch64-unknown-linux-gnu]
image = "ghcr.io/cross-rs/aarch64-unknown-linux-gnu:main"
pre-build = [
    "dpkg --add-architecture arm64",
    "apt-get update",
    "apt-get install -y libdbus-1-dev:arm64 pkg-config"
]

[target.aarch64-unknown-linux-gnu.env]
passthrough = ["PKG_CONFIG_ALLOW_CROSS=1", "PKG_CONFIG_PATH=/usr/lib/aarch64-linux-gnu/pkgconfig"]
